
.container {
    height: 100%;
    width: 100%;
    color: black;   
}

.box {
    margin: 20px;
    max-width: 300px;

  }

  
  .grid {
    
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
  }

  #formcss {
    width: 30%;
    
  }
  
  
  /* Navbar design */
  a {
    color: white;
    text-decoration: solid;
    text-decoration: none;
    padding: 10px;
  }
  
  a:hover {
    color: darkgrey;
  }
  
  a.active {
    text-decoration: solid;
    color: black;
  }
  

  
  /* DARK MODE */
  
  [data-theme = "dark"] h4{
    color: white; 
  }
  [data-theme = "dark"] .mb-3{
    color: white; 
  }
  [data-theme = "dark"] p{
    color: white; 
  }
  [data-theme = "dark"] li{
    color: white; 
  }
  [data-theme = "dark"] label{
    color: white; 
  }
  [data-theme = "dark"] h3{
    color: white; 
  }
  [data-theme = "dark"] a:hover{
    color: darkgrey;
  }
  [data-theme = "dark"] a.active{
    text-decoration: solid;
    color: black;
  }



  .dark-mode {
    display: flex;
    align-items: center;
  }

.dark-mode-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 8px;
}


[data-theme="dark"] {
  background-color: #1d1d1d;
  color: #fff;
}

[data-theme="dark"] a {
  color: #fff;
}

[data-theme="dark"] .dark-mode-button {
  color: #fff;
}

[data-theme="dark"] .icon {
  fill: #fff;
}
